<h3>Location Logger</h3>
<form action="/" method="POST">
    <input type="hidden" name="latitude" value=""/>
    <input type="hidden" name="longitude" value=""/>
    <button type="submit" class="btn btn-success btn-lg" disabled>Check in</button>
</form>
