<h3>Location Logger</h3>
<form action="/" method="POST">
    <input type="hidden" name="latitude" value=""/>
    <input type="hidden" name="longitude" value=""/>
    <button type="submit" class="btn btn-success btn-lg" disabled>Check in</button>
</form>
{{#if error}}
<p class="text-warning">{{error}}</p>
{{/if}}
{{#if location}}
<p>
    You are at <strong>{{location.latitude}}, {{location.longitude}}</strong>.
</p>
<p>
    AKA
    <blockquote>{{location.address}}</blockquote>
</p>
{{/if}}
<script src="javascripts/client.js"></script>
